body {
    height: 100vh;
    background-color: #333333;
    color: #e6e6e6;
    position: relative;
}

header {
    background-color: white;
}

img {
    max-width: 300px;
}

.vert-center{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

h3 {
    text-align: center; 
}

footer {
    text-align: center;
    color: #333333;
    background-color: white;

}